<div class="modal fade hmodal-success" id="createUpdateCardModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="cardEditHolder">
					<form>
						<div class="rowHolder marginBottomFive">
							<div class="col4 formInputLabel">
								Custom Card Name:
							</div>
							<div class="col8">
								<input id="cardCompany" class="form-control" type="text" ng-model="cardToEdit.cardCustomName" placeholder="Enter custom card name" required ng-keyup="$event.keyCode == 13 && saveCard()"/>
							</div>
						</div>
						<div class="rowHolder marginBottomFive">
							<div class="col4 formInputLabel">
								Card Holder:
							</div>
							<div class="col8">
								<input id="cardCompany" class="form-control" type="text" ng-model="cardToEdit.cardHolder" placeholder="Enter card holder's name" required ng-keyup="$event.keyCode == 13 && saveCard()"/>
							</div>
						</div>
						<div class="rowHolder marginBottomFive">
							<div class="col4 formInputLabel">
								Number:
							</div>
							<div class="col8">
								<input class="form-control" type="text" ng-model="cardToEdit.number" placeholder="Enter card number" required ng-keyup="$event.keyCode == 13 && saveCard()"/>
							</div>
						</div>
						<div class="rowHolder">
							<div class="col4 formInputLabel">
								Expiration:
							</div>
							<div class="col8">
								<input class="form-control" type="text" ng-model="cardToEdit.expiration" placeholder="Enter card expiration" required ng-keyup="$event.keyCode == 13 && saveCard()"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="buttonHolder">
					<button class="btn brand-button-success" ng-click="saveCard()">
						<span ng-show="cardToEdit.update">Update</span>
						<span ng-show="!cardToEdit.update">Save</span>
					</button>
					<button class="btn brand-button-warn btn-outline" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="hpanel">
			<div class="panelHeading">
				Manage Profile
			</div>
			<div class="panel-body">
				<div class="profilePicture marginBottomFifteen" style="background-image: url('https://s-media-cache-ak0.pinimg.com/564x/54/38/90/543890d1053e04b0ee7b68a673f8b7a7.jpg')"></div>
				<div class="rowHolder marginBottomTen">
					<div class="col4">
						First Name:
					</div>
					<div class="col8">
						<input class="form-control" type="text" placeholder="Enter first name." ng-model="user.firstName" />
					</div>
				</div>
				<div class="rowHolder marginBottomTen">
					<div class="col4">
						Last Name:
					</div>
					<div class="col8">
						<input class="form-control" type="text" placeholder="Enter last name." ng-model="user.lastName" />
					</div>
				</div>
				<div class="buttonHolder">
					<button class="btn brand-button-success" ng-click="updateUserName()">Update</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="hpanel">
			<div class="panelHeading">
				Billing History
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table datatable="ng" dt-options="billingHistoryDatatableOptions" dt-column-defs="billingHistoryDatatableDefs" class="table table-striped table-hover datatableStyle">
						<thead>
							<tr>
								<th>Month/Year</th>
								<th>Year</th>
								<th class="text-center">View PDF</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="info in billingInfo">
								<td>{{info.month}} {{info.year}}</td>
								<td>{{info.date}}</td>
								<td class="text-center"><button class="btn btn-xs brand-button-success" ng-click="viewBillingPDF(info)">View</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="hpanel">
			<div class="panelHeading">
				Manage Billing
			</div>
			<div class="panel-body">
				<div class="rowHolder rowHover paddingTen dottedBottomBorder" ng-repeat="card in profileCards">
					<div class="col4">{{card.cardCustomName}}</div>
					<div class="col8">
						<div class="buttonHolder3">
							<button class="btn btn-xs brand-button-success" ng-click="createUpdateCard(card)">Update</button>
							<button class="btn btn-xs brand-button-success" ng-click="removeCard(card)">Remove</button>
						</div>
					</div>
				</div>
				<div class="buttonHolder marginTopTwenty">
					<button class="btn brand-button-success" ng-click="createUpdateCard()">Add New Card</button>
				</div>
				<hr class="dottedHR"/>
				<div class="buttonHolder">
					<a class="" ng-click="cancelService()" href="">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>