.breadCrumb {
	margin: 0 2px;
}

.breadCrumbs {
	display: flex;
}

.breadCrumbHeader {
	font-size: 16px;
	margin-bottom: 5px;
}

.currentMedia {
	width: 25%;
	height: 100%;
	opacity: 0.5;
	background: #fff;
	padding: 10px;
	border: 1px solid #eee;
	pointer-events: auto;
}

.currentMedia:hover {
	opacity: 1;
}

.currentMediaContent {
	display: flex;
}

.currentMediaImg {
	width: 100%;
}

.currentMediaImageHolder {
	flex: 1;
}

.currentMediaTitle {
	flex: 1;
}

.currentMediaHeader {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

.currentMediaHolder {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.dateHolder {
	display: flex;
	margin-bottom: 10px;
}

.dateHolderDate {
	flex: 1;
	margin-right: 5px;
}

.dateHolderTime {
	flex: 1;
	margin-left: 5px;
}

.dd-handle {
	height: auto;
}

.defaultPostImage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 175px;
	background: #eee;
}

#file-dropbox {
	width: 100%;
	min-height: 200px;
	background: #eee;
}

.heading {
	height: 40px;
	font-size: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hiddenFileInput {
	height: 0;
	width: 0;
	overflow: hidden;
}

.imgHeader {
	font-size: 1.2em;
	text-align: center;
}

#lightbox-management-variant-file-dropbox {
	width: 100%;
	min-height: 200px;
	background: #eee;
}

.mediaContent {
	position: relative;
	display: inline-block;
	width: 40%;
	margin: 10px auto;
}

.mediaContentArea {
	display: flex;
	flex-wrap: wrap;
}

.mediaLibrary {
	
}

.mediaLibraryHolder {
	flex: 1;
	height: 100%;
	margin-left: 5px;
}

.mediaLibraryImage {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 75px;
	background: #eee;
}

.mediaLibraryItemControls {
	position: absolute;
	bottom: 2px;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: center;
}

.mediaImageProgressBarHolder {
	position: absolute;
	top: 0;
	width: 100%;
	pointer-events: none;
}

#media-library-variant-file-dropbox {
	width: 100%;
	min-height: 200px;
	background: #eee;
}

.mediaSettingsHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.note-editor .note-dropzone { 
	display: none !important;
}

.panelHeader {
	display: block;
}

.postArea {
	display: flex;
	height: 100%;
}

.postDefaults {

}

.postDefaultsHolder {
	flex: 1;
	height: 100%;
	margin-right: 5px;
}

.postsImg {
	width: 100%;
}

.postImageHolder {
	position: relative;
}

#post-management-variant-file-dropbox {
	width: 100%;
	min-height: 200px;
	background: #eee;
}

.postSchedulingLightboxImg {
	width: 100%;
}

.postSchedulingLightboxImg img {
	width: 100%;
}

.productItem {
	height: 100%;
	overflow: hidden;
}

.requiredAsterisk {
	color: red;
}

.textboxLabel {
	display: inline;
}

.textWrapper {
	width: 100%;
	min-height: 75px;
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	border-radius: 2px;
}

.tooltip-inner {
  max-width: 80% !important;
  margin: 0 auto !important;
}

.translation:hover {
	background: #eee;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 350px;
  margin-bottom: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 500px) {
	.postArea {
		flex-direction: column;
	}

	.mediaLibraryHolder {
		flex: auto;
		margin: 0;
	}

	.postDefaultsHolder {
		flex: auto;
		margin: 0;
	}
}

@media only screen and (max-width : 800px) {
	.mediaContent {
		width: 100%;
	}
}