.creditCardInfoPartialPanel {
    max-width: 300px;
}

.creditCardInfoPartialCardholder {
    display: flex;
}

.creditCardInfoPartialCardholderTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

.creditCardInfoPartialCVV {
    display: flex;
}

.creditCardInfoPartialCVVTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

.creditCardInfoPartialExpiration {
    display: flex;
}

.creditCardInfoPartialExpirationTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

.creditCardInfoPartialNumber {
    display: flex;
}

.creditCardInfoPartialNumberTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

.creditCardInfoPartialRowInput {
    flex: 2;
}

.creditCardInfoPartialRowTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

.creditCardInfoPartialZip {
    display: flex;
}

.creditCardInfoPartialZipTitle {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}
