<div class="directiveHolder">
	<div class="manageHeader">
		<h4>Create Facebook Event Instructions:</h4>
	</div>
	<div class="videoWrapper">
	    <iframe width="560" height="349" src="{{modalContent.yt.videoId}}" frameborder="0" allowfullscreen></iframe>
	</div>
	<hr/>
	<div>Instructions for creating a private or public event:</div>
	<div class="instructionText">
		<div class="hpanel">
	    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#eventPublic">Public</a></li>
        <li class=""><a data-toggle="tab" href="#eventPrivate">Private</a></li>
	    </ul>
	    <div class="tab-content">
        <div id="eventPublic" class="tab-pane active">
          <div class="panel-body">
            <div ng-bind-html="modalContent.instructionText" class="listTest"></div>
          </div>
        </div>
        <div id="eventPrivate" class="tab-pane">
          <div class="panel-body">
            <div ng-bind-html="modalContent.instructionText2" class="listTest"></div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="instructionActionLink">
		<a href="{{modalContent.actionLink}}" target="_blank"><button class="btn brand-button-success btn-block">{{modalContent.actionLinkText}}</button></a>
	</div>
	<hr/>
	<div class="instructionText">
		<div>Suggested event privacy setting:</div>
		<div>{{modalContent.eventPrivatePublicSuggestion}}</div>
	</div>
	<div class="instructionText">
		<div>Suggested event end time setting:</div>
		<div>{{modalContent.eventAddEndTimeSuggestion}}</div>
	</div>
	<div class="instructionText">
		<div>Suggested event names:</div>
		<div>{{modalContent.eventNameSuggestion}}</div>
	</div>
	<div class="instructionText">
		<div>Event invitation guidelines:</div>
		<div>{{modalContent.eventInviteGuidelines}}</div>
	</div>
</div>
<div class="buttonHolder2">
	<div>
		<button ng-click="previous()()(modalContent.next, modalContent.viewName)" class="btn btn-outline brand-button-warn">{{modalContent.prevButtonText}}</button>
	</div>
	<div>
		<button ng-click="cancel()()()"  class="btn btn-outline brand-button-warn">Close</button>
		<button ng-click="next()()(modalContent.next, modalContent.viewName)" class="btn brand-button-success">{{modalContent.nextButtonText}}</button>
	</div>
</div>