<div class="directiveHolder">
	<div class="manageHeader">
		<h4>Create Facebook Group Photo Instructions:</h4>
	</div>
	<div class="videoWrapper">
	    <iframe width="560" height="349" src="{{modalContent.yt.videoId}}" frameborder="0" allowfullscreen></iframe>
	</div>
	<hr/>
	<div>Instructions for choosing a photo from:</div>
	<div class="instructionText">
		<div class="hpanel">
	    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#photo1">Your Computer</a></li>
        <li class=""><a data-toggle="tab" href="#photo2">Your Facebook account</a></li>
	    </ul>
	    <div class="tab-content">
        <div id="photo1" class="tab-pane active">
          <div class="panel-body">
            <div ng-bind-html="modalContent.instructionText" class="listTest"></div>
          </div>
        </div>
        <div id="photo2" class="tab-pane">
          <div class="panel-body">
            <div ng-bind-html="modalContent.instructionText2" class="listTest"></div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="instructionActionLink">
		<a href="{{modalContent.actionLink}}" target="_blank"><button class="btn brand-button-success btn-block">{{modalContent.actionLinkText}}</button></a>
	</div>
	<hr/>
</div>
<div class="buttonHolder2">
	<div>
		<button ng-click="previous()()(modalContent.next, modalContent.viewName)" class="btn btn-outline brand-button-warn">{{modalContent.prevButtonText}}</button>
	</div>
	<div>
		<button ng-click="cancel()()()" class="btn btn-outline brand-button-warn">Close</button>
		<button ng-click="validateGroup()()(modalContent.next, modalContent.viewName, modalContent.tempGroupId)" class="btn brand-button-success">{{modalContent.nextButtonText}}</button>
	</div>
</div>