<!-- Other Templates -->
<compliance-infraction ng-if="templateToDisplay === 'complianceInfraction'" class="modalContentBox2 animateFade" modal-content="modalContent" next="next" previous="previous" cancel="cancel"></compliance-infraction>
<group-event-list ng-if="templateToDisplay === 'groupEventList'" class="modalContentBox2 animateFade" available-fb-groups="availableFbGroups" available-fb-events="availableFbEvents" event="event" cancel="cancel" create-facebook-event="createFacebookEvent" create-facebook-group="createFacebookGroup" save-Fb-Groups-Events="saveFbGroupsEvents"></group-event-list>
<loading ng-if="templateToDisplay === 'loading'" class="modalContentBox2 animateFade"></loading>

<!-- Event Templates -->
<create-event-instructions ng-if="templateToDisplay === 
'createEventInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" cancel="cancel" next="next" previous="previous" save-Fb-Groups-Events="saveFbGroupsEvents"></create-event-instructions>
<event-description-instructions ng-if="templateToDisplay === 
'eventDescriptionInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-description-instructions>
<event-host-instructions ng-if="templateToDisplay === 
'eventHostInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-host-instructions>
<event-invite-instructions ng-if="templateToDisplay === 
'eventInviteInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-invite-instructions>
<event-link-sharing-instructions ng-if="templateToDisplay === 
'eventLinkSharingInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-link-sharing-instructions>
<event-location-instructions ng-if="templateToDisplay === 
'eventLocationInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-location-instructions>
<event-photo-instructions ng-if="templateToDisplay === 
'eventPhotoInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-photo-instructions>
<event-posting-instructions ng-if="templateToDisplay === 
'eventPostingInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-posting-instructions>
<event-private-public-instructions ng-if="templateToDisplay === 
'eventPrivatePublicInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-private-public-instructions>
<event-send-invite-instructions ng-if="templateToDisplay === 
'eventSendInviteInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-event="validateEvent" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></event-send-invite-instructions>
<show-fb-event-list ng-if="templateToDisplay === 'showEventList'" modal-content="modalContent" available-fb-events="availableFbEvents" class="modalContentBox2 animateFade" validate-event="validateEvent" previous="previous" cancel="cancel"></show-fb-event-list>

<!-- Group Templates -->
<create-group-instructions ng-if="templateToDisplay === 
'createGroupInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" next="next" previous="previous" save-Fb-Groups-Events="saveFbGroupsEvents" cancel="cancel"></create-group-instructions>
<group-description-instructions ng-if="templateToDisplay === 
'groupDescriptionInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-description-instructions>
<group-link-sharing-instructions ng-if="templateToDisplay === 
'groupLinkSharingInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-link-sharing-instructions>
<group-membership-instructions ng-if="templateToDisplay === 
'groupMembershipInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-membership-instructions>
<group-modorators ng-if="templateToDisplay === 
'groupModorators'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-modorators>
<group-photo-instructions ng-if="templateToDisplay === 
'groupPhotoInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-photo-instructions>
<group-posting-instructions ng-if="templateToDisplay === 
'groupPostingInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-posting-instructions>
<group-post-permissions-instructions ng-if="templateToDisplay === 
'groupPostPermissionsInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-post-permissions-instructions>
<group-private-public-instructions ng-if="templateToDisplay === 
'groupPrivatePublicInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-private-public-instructions>
<group-tags-instructions ng-if="templateToDisplay === 
'groupTagsInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-tags-instructions>
<group-type-instructions ng-if="templateToDisplay === 
'groupTypeInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-type-instructions>
<group-web-email-instructions ng-if="templateToDisplay === 
'groupWebEmailInstructions'" modal-content="modalContent" class="modalContentBox2 animateFade" validate-group="validateGroup" next="next" previous="previous" template-to-display="templateToDisplay" cancel="cancel"></group-web-email-instructions>
<show-fb-group-list ng-if="templateToDisplay === 'showGroupList'" modal-content="modalContent" available-fb-groups="availableFbGroups" class="modalContentBox2 animateFade" validate-group="validateGroup" previous="previous" cancel="cancel"></show-fb-group-list>