<div class="row marginBottomTen dropZoneProductHider">
	<div class="col-sm-12">
		<div class="prodPanelHeader">
			<div class="leftHeader">
				<div>Featured Product:&nbsp;</div>
				<div class="prodName">{{currentProduct.entryValue}}</div>
			</div>
			<div class="rightHeader">
				<div class="primaryBtn" ng-click="addProductToCart()(currentProduct)">BUY</div>
			</div>
		</div>
		<div class="dropZoneFeaturedProduct">
			<div class="dropZoneProdStartingPrice">
				<div class="prodName">Starting Price:&nbsp;</div>
				<div class="dropZoneFeaturedProdPrice">${{currentProduct.price | number:2}}</div>
			</div>
			<div class="dropZoneProdCurrentPrice">
				<div class="prodName">Current Price:&nbsp;</div>
				<div class="dropZoneFeaturedProdPrice">${{currentProduct.currentPrice | number:2}}</div>
			</div>
		</div>
	</div>
</div>

<div class="row marginBottomTen">
	<div class="col-sm-12">
		<div class="prodPanelHeader">
			<div class="leftHeader">
				<div class="prodName">
					{{currentProduct.entryValue}}
					<span ng-show="currentProduct.price > 0" class="prodPrice">${{currentProduct.currentPrice | number:2}}</span>
				</div>
			</div>
			<div class="rightHeader">
				<div>QTY</div>
				<div class="prodQtyHolder">
					<select class="prodQty" ng-model="productQuantity">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="primaryBtn" ng-click="addProductToCart()(currentProduct)">ADD TO BAG</div>
				<div class="dropZoneProdBagLabel">BAG</div>
				<div class="prodBag cursorPointer" ng-click="showBag()()">
					<div class="prodCartCount">{{cartCount}}</div>
					<img class="prodBagImg" src="/StaticContent/Event/img/shopping_cart.png" alt=""/>
				</div>
				<div class="primaryBtn" ng-click="checkout()()">CHECKOUT</div>
				<span ng-show="isAdmin && possibleProducts.length > 0" class="adminMenu">
					<i id="adminMenuHolder" class="fa fa-plus cursorPointer" aria-hidden="true"></i>
					<div class="adminMenuContent">
						<div class="addProductMenu">
							<div class="adminMenuItem">Add Product</div>
							<div class="addProductMenuContent">
								<div class="addProductMenuItem" ng-repeat="product in possibleProducts" ng-click="addProductToSession()(product, $index)">{{product.name}}</div>
							</div>
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="prodPanelBody dropZoneProductHider">
			<div class="row">
				<div class="col-xs-5 ">
					<div class="currentProductImage" style="background-image: url({{currentProduct.url}})">
					</div>
				</div>
				<div class="col-xs-7">
					<div class="currentProductDescription">
						<div class="prodentryValue1">{{currentProduct.entryValue}}</div>
						<div ng-show="currentProduct.price > 0" class="prodPrice1">${{currentProduct.price | number:2}}</div>
						<div class="prodDesc">{{currentProduct.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>