<div class="directiveHolder">
    <div class="manageHeader">
        <h4>Edit '{{templateToEdit.modelDataObject.descName}}':</h4>
    </div>
    <div>Edit event name suggestion:</div>
    <input class="form-control" type="text" ng-model="templateToEdit.modelDataObject.eventNameSuggestion"/>
    <br/>
    <div>Edit invitation guidelines:</div>
    <input class="form-control" type="text" ng-model="templateToEdit.modelDataObject.eventInviteGuidelines"/>
    <br/>
    <div>Edit event privacy suggestion:</div>
    <form>
        <input type="radio" name="privatePublic" ng-model="templateToEdit.modelDataObject.eventPrivatePublicSuggestion" value="Private"/>&nbsp;Private
        <br/>
        <input type="radio" name="privatePublic" ng-model="templateToEdit.modelDataObject.eventPrivatePublicSuggestion" value="Public"/>&nbsp;Public
    </form>
    <br/>
    <div>Suggest that an end time be set for the event:</div>
    <form>
        <input type="radio" name="endTime" ng-model="templateToEdit.modelDataObject.eventAddEndTimeSuggestion" value="Add an ending time to your event."/>&nbsp;Add an ending time to your event.
        <br/>
        <input type="radio" name="endTime" ng-model="templateToEdit.modelDataObject.eventAddEndTimeSuggestion" value="Do not add an ending time to your event."/>&nbsp;Do not add an ending time to your event.
    </form>
    <br/>
    <div>Edit instruction text for creating a public event:</div>
    <summernote ng-model="templateToEdit.modelDataObject.instructionTextHolder"></summernote>
    <br/>
    <div>Edit instruction text for creating a private event:</div>
    <summernote ng-model="templateToEdit.modelDataObject.instructionTextHolder2"></summernote>
</div>
<div class="buttonHolder">
    <div>
        <button class="btn btn-outline brand-button-warn" data-dismiss="modal">Close</button>
        <button class="btn brand-button-success" ng-click="saveCustomizations()()(templateToEdit.modelDataObject.next)">Save</button>
    </div>
</div>