<div class="directiveHolder">
	<div class="manageHeader">
		<h4>Create Facebook Event Posting Instructions:</h4>
	</div>
	<div class="videoWrapper">
	    <iframe width="560" height="349" src="{{templateToDisplay.modelDataObject.videoId}}" frameborder="0" allowfullscreen></iframe>
	</div>
	<hr/>
	<div class="instructionText">
		<div ng-bind-html="templateToDisplay.modelDataObject.instructionText" class="listTest"></div>
	</div>
	<div class="instructionActionLink">
		<a href="" target=""><button class="btn brand-button-success btn-block">{{templateToDisplay.modelDataObject.actionLinkText}}</button></a>
	</div>
	<hr/>
</div>
<div class="buttonHolder2">
	<div>
		<button class="btn btn-outline brand-button-warn">{{templateToDisplay.modelDataObject.prevButtonText}}</button>
	</div>
	<div>
		<button class="btn btn-outline brand-button-warn" data-dismiss="modal">Close</button>
		<button class="btn brand-button-success">{{templateToDisplay.modelDataObject.nextButtonText}}</button>
	</div>
</div>