<div class="directiveHolder">
    <div class="manageHeader">
        <h4>Edit '{{templateToEdit.modelDataObject.descName}}':</h4>
    </div>
    <div>Edit group web and email address suggestion:</div>
    <input class="form-control" type="text" ng-model="templateToEdit.modelDataObject.groupWebEmailSuggestion"/>
    <br/>
    <div>Edit instruction text:</div>
    <summernote ng-model="templateToEdit.modelDataObject.instructionTextHolder"></summernote>
</div>
<div class="buttonHolder">
    <div>
        <button class="btn btn-outline brand-button-warn" data-dismiss="modal">Close</button>
        <button class="btn brand-button-success" ng-click="saveCustomizations()()(templateToEdit.modelDataObject.next)">Save</button>
    </div>
</div>