<div class="directiveHolder">
	<div class="manageHeader">
		<h4>Available Facebook Events:</h4>
		<h4 class="brand-success-text-color" aria-hidden="true"><i class="fa fa-plus-square cursorPointer" aria-hidden="true"></i></h4>
	</div>
	<hr/>
	<div class="checkbox checkbox-single brand-checkbox-success">
		<input ng-model="facebookEvent1" type="checkbox"/>
    <label ng-click="facebookEvent1 = !facebookEvent1">Example Event 1</label>
	</div>
	<div class="checkbox checkbox-single brand-checkbox-success">
		<input ng-model="facebookEvent2" type="checkbox"/>
    <label ng-click="facebookEvent2 = !facebookEvent2">Example Event 2</label>
	</div>
	<br/>
	<br/>
	<div class="manageHeader">
		<h4>Available Facebook Groups:</h4>
		<h4 class="brand-success-text-color"><i class="fa fa-plus-square cursorPointer" aria-hidden="true"></i></h4>
	</div>
	<hr/>
	<div class="checkbox checkbox-single brand-checkbox-success">
		<input ng-model="facebookGroup1" type="checkbox"/>
    <label ng-click="facebookGroup1 = !facebookGroup1">Example Event 1</label>
	</div>
	<div class="checkbox checkbox-single brand-checkbox-success">
		<input ng-model="facebookGroup2" type="checkbox"/>
    <label ng-click="facebookGroup2 = !facebookGroup2">Example Event 2</label>
	</div>
</div>
<div class="buttonHolder">
	<button class="btn brand-button-success" data-dismiss="modal">Close</button>
</div>