<div class="modalRowHolder" ng-repeat="post in availablePosts" ng-click="addPost($index)">
	<div ng-show="content" class="checkbox checkbox-single brand-checkbox-success modalCheckboxPositionOverride">
	    <input type="checkbox" ng-model="post.inTemplate" class="checkbox cursorPointer"/>
	    <label></label>
	</div>
	<div class="modalRow">
		<div class="row cursorPointer">
			<div class="col-sm-6">
				<img class="contentImg modalImagePositionFix" src="{{post.url}}" alt="">
			</div>
			<div class="col-sm-6">
					<div class="row paddingBottomTen">
						<div class="col-sm-4">
							Title:
						</div>
						<div class="col-sm-8">
							{{post.title}}
						</div>
					</div>
					<div class="row paddingBottomTen">
						<div class="col-sm-4">
							Message:
						</div>
						<div class="col-sm-8">
							{{post.message}}
						</div>
					</div>
					<div class="row paddingBottomTen">
						<div class="col-sm-4">
							Suggested Text:
						</div>
						<div class="col-sm-8">
							{{post.suggestedText}}
						</div>
					</div>
			</div>
		</div>
	</div>
</div>