<!-- Other Templates -->
<group-event-list-example ng-show="templateToDisplay.modelDataObject.next === 'groupEventList'"></group-event-list-example>


<!-- Event Templates -->
<create-event-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'createEventInstructions'" template-to-display="templateToDisplay"></create-event-instructions-example>
<event-description-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventDescriptionInstructions'" template-to-display="templateToDisplay"></event-description-instructions-example>
<event-host-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventHostInstructions'" template-to-display="templateToDisplay"></event-host-instructions-example>
<event-invite-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventInviteInstructions'" template-to-display="templateToDisplay"></event-invite-instructions-example>
<event-link-sharing-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventLinkSharingInstructions'" template-to-display="templateToDisplay"></event-link-sharing-instructions-example>
<event-location-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventLocationInstructions'" template-to-display="templateToDisplay"></event-location-instructions-example>
<event-photo-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventPhotoInstructions'" template-to-display="templateToDisplay"></event-photo-instructions-example>
<event-posting-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventPostingInstructions'" template-to-display="templateToDisplay"></event-posting-instructions-example>
<event-private-public-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventPrivatePublicInstructions'" template-to-display="templateToDisplay"></event-private-public-instructions-example>
<event-send-invite-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'eventSendInviteInstructions'" template-to-display="templateToDisplay"></event-send-invite-instructions-example>


<!-- Group Templates -->
<create-group-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'createGroupInstructions'" template-to-display="templateToDisplay"></create-group-instructions-example>
<group-description-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupDescriptionInstructions'" template-to-display="templateToDisplay"></group-description-instructions-example>
<group-link-sharing-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupLinkSharingInstructions'" template-to-display="templateToDisplay"></group-link-sharing-instructions-example>
<group-membership-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupMembershipInstructions'" template-to-display="templateToDisplay"></group-membership-instructions-example>
<group-moderators-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupModeratorsInstructions'" template-to-display="templateToDisplay"></group-moderators-instructions-example>
<group-photo-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupPhotoInstructions'" template-to-display="templateToDisplay"></group-photo-instructions-example>
<group-posting-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupPostingInstructions'" template-to-display="templateToDisplay"></group-posting-instructions-example>
<group-post-permissions-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupPostPermissionsInstructions'" template-to-display="templateToDisplay"></group-post-permissions-instructions-example>
<group-private-public-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupPrivatePublicInstructions'" template-to-display="templateToDisplay"></group-private-public-instructions-example>
<group-tags-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupTagsInstructions'" template-to-display="templateToDisplay"></group-tags-instructions-example>
<group-type-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupTypeInstructions'" template-to-display="templateToDisplay"></group-type-instructions-example>
<group-web-email-instructions-example ng-show="templateToDisplay.modelDataObject.next === 'groupWebEmailInstructions'" template-to-display="templateToDisplay"></group-web-email-instructions-example>

