
/* All Brand Stuff */

/* Checkboxes */
.brand-checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #62cb31;
	border-color: #62cb31; 
}
.brand-checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff; 
}
.brand-checkbox-warn input[type="checkbox"]:checked + label::before {
	background-color: #ffb606;
	border-color: #ffb606; 
}
.brand-checkbox-warn input[type="checkbox"]:checked + label::after {
	color: #fff; 
}
.brand-checkbox-fail input[type="checkbox"]:checked + label::before {
	background-color: #e74c3c;
	border-color: #e74c3c; 
}
.brand-checkbox-fail input[type="checkbox"]:checked + label::after {
	color: #fff; 
}

/* Buttons */
.brand-button-success {
  color: #fff !important;
  background-color: #62cb31;
  border-color: #62cb31;
}
.brand-button-success:hover,
.brand-button-success:focus,
.brand-button-success.focus,
.brand-button-success:active,
.brand-button-success.active,
.open > .dropdown-toggle.brand-button-success {
  color: #fff !important;
  background-color: #74d348;
  border-color: #74d348;
}
.brand-button-success:active,
.brand-button-success.active,
.open > .dropdown-toggle.brand-button-success {
  background-image: none;
}
.brand-button-success.disabled,
.brand-button-success[disabled],
fieldset[disabled] .brand-button-success,
.brand-button-success.disabled:hover,
.brand-button-success[disabled]:hover,
fieldset[disabled] .brand-button-success:hover,
.brand-button-success.disabled:focus,
.brand-button-success[disabled]:focus,
fieldset[disabled] .brand-button-success:focus,
.brand-button-success.disabled.focus,
.brand-button-success[disabled].focus,
fieldset[disabled] .brand-button-success.focus,
.brand-button-success.disabled:active,
.brand-button-success[disabled]:active,
fieldset[disabled] .brand-button-success:active,
.brand-button-success.disabled.active,
.brand-button-success[disabled].active,
fieldset[disabled] .brand-button-success.active {
  background-color: #56b22b;
  border-color: #56b22b;
}
.brand-button-success.btn-outline {
	color: #62cb31;
	border-color: #62cb31;
}

.brand-button-warn {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.brand-button-warn:hover,
.brand-button-warn:focus,
.brand-button-warn.focus,
.brand-button-warn:active,
.brand-button-warn.active,
.open > .dropdown-toggle.brand-button-warn {
  color: #fff !important;
  background-color: #ec971f;
  border-color: #d58512;
}
.brand-button-warn:active,
.brand-button-warn.active,
.open > .dropdown-toggle.brand-button-warn {
  background-image: none;
}
.brand-button-warn.disabled,
.brand-button-warn[disabled],
fieldset[disabled] .brand-button-warn,
.brand-button-warn.disabled:hover,
.brand-button-warn[disabled]:hover,
fieldset[disabled] .brand-button-warn:hover,
.brand-button-warn.disabled:focus,
.brand-button-warn[disabled]:focus,
fieldset[disabled] .brand-button-warn:focus,
.brand-button-warn.disabled.focus,
.brand-button-warn[disabled].focus,
fieldset[disabled] .brand-button-warn.focus,
.brand-button-warn.disabled:active,
.brand-button-warn[disabled]:active,
fieldset[disabled] .brand-button-warn:active,
.brand-button-warn.disabled.active,
.brand-button-warn[disabled].active,
fieldset[disabled] .brand-button-warn.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.brand-button-warn.btn-outline {
	color: #f0ad4e;
	border-color: #eea236;
}

.brand-button-fail {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.brand-button-fail:hover,
.brand-button-fail:focus,
.brand-button-fail.focus,
.brand-button-fail:active,
.brand-button-fail.active,
.open > .dropdown-toggle.brand-button-fail {
  color: #fff !important;
  background-color: #ea6557;
  border-color: #ea6557;
}
.brand-button-fail:active,
.brand-button-fail.active,
.open > .dropdown-toggle.brand-button-fail {
  background-image: none;
}
.brand-button-fail.disabled,
.brand-button-fail[disabled],
fieldset[disabled] .brand-button-fail,
.brand-button-fail.disabled:hover,
.brand-button-fail[disabled]:hover,
fieldset[disabled] .brand-button-fail:hover,
.brand-button-fail.disabled:focus,
.brand-button-fail[disabled]:focus,
fieldset[disabled] .brand-button-fail:focus,
.brand-button-fail.disabled.focus,
.brand-button-fail[disabled].focus,
fieldset[disabled] .brand-button-fail.focus,
.brand-button-fail.disabled:active,
.brand-button-fail[disabled]:active,
fieldset[disabled] .brand-button-fail:active,
.brand-button-fail.disabled.active,
.brand-button-fail[disabled].active,
fieldset[disabled] .brand-button-fail.active {
  background-color: #e43321;
  border-color: #e43321;
}
.brand-button-fail.btn-outline {
	color: #e74c3c;
	border-color: #e74c3c;
}

/* Text Colors */
.brand-success-text-color {
	color: #62cb31;
}
.brand-warn-text-color {
	color: #ffb606;
}
.brand-fail-text-color {
	color: #e74c3c;
}

/* Background Colors */
.brand-success-background-color {
	background-color: #62cb31;
}
.brand-warn-background-color {
	background-color: #ffb606;
}
.brand-fail-background-color {
	background-color: #e74c3c;
}

/* Top Line */
.brand-top-line {
	border-top: 2px solid #ffb606 !important;
}

/******************/



.animate-show-fade {
  opacity: 1;
}

.animate-show-fade.ng-hide-add, .animate-show-fade.ng-hide-remove {
  transition: all linear 0.2s;
}

.animate-show-fade.ng-hide {
  opacity: 0;
}

.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: absolute;
} 

.animate.ng-enter {
    left: 100%;
}
.animate.ng-enter.animate.ng-enter-active {
    left: 0;
}

.animate.ng-leave {
    left: 0;
}
.animate.ng-leave.animate.ng-leave-active{
    left: -100%;
}

.animateFade.ng-enter { 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition-delay: 300ms; 
    position: absolute;
} 

.animateFade.ng-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: absolute;
} 

.animateFade.ng-enter {
    opacity: 0;
}
.animateFade.ng-enter.animateFade.ng-enter-active {
    opacity: 1;
}

.animateFade.ng-leave {
    opacity: 1;
}
.animateFade.ng-leave.animateFade.ng-leave-active{
    opacity: 0;
}

.animate-show-slide-left {
	left: 20px;
	position: absolute;
	width: calc(100% - 20px);
	margin: 0 auto;
}

.animate-show-slide-left.ng-enter {
	animation: 0.5s slide-left-leave;
}

.animate-show-slide-left.ng-leave {
  animation: 0.5s slide-left-enter;
}

.animate-show-slide-left.ng-enter-active {
	left: 100%;
}

@keyframes slide-left-enter {
	0% {left: 100%;}
	100% {left: 20px;}
}

@keyframes slide-left-leave {
	0% {left: 20px;}
	100% {left: -100%;}
}

.blackBackground {
	background: #000 !important;
}

.blackText {
	color: #000;
}

.border {
	border: 1px solid blue;
}

.buttonHolder {
	height: 34px;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
}

.buttonHolder2 {
	height: 34px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.buttonHolder3 {
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
}

.buttonHolder button {
	margin-left: 5px;
}

.buttonHolder3 button {
	margin-left: 5px;
}

.checkboxMarginBottomOverride {
	margin-bottom: -3px !important;
}

.checkboxMarginTopOverride {
	margin-top: -1px !important;
}

.contentFooter {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	margin-top: 10px;
}

.contentFooter button {
	margin-left: 5px;
}

.contentFooter-fixed {
	position: fixed;
	bottom: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	margin-top: 10px;
}

.contentFooter-fixed button {
	margin-left: 5px;
}

.contentImg {
	width: 100%;
}

.cursorCell {
	cursor: cell !important;
}

.cursorDefault {
	cursor: default !important;
}

.cursorNotAllowed {
	cursor: not-allowed !important;
}

.cursorPointer {
	cursor: pointer;
}

.cursorText {
	cursor: text !important;
}

.contentContainer {
	padding: 15px;
}

.directiveHolder {
	position: relative;
	height: calc(100% - 45px);
	border: 1px solid #cccccc;
	overflow-y: auto; 
	overflow-x: hidden;
	padding: 10px;
	margin: 10px 0;
}

.dottedHR {
	border: none;
	border-top: 1px dotted #ddd;
}

.eventHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fontWeight600 {
	font-weight: 600;
}

.fontWeightBold {
	font-weight: bold;
}

.greyBackground {
	background: #f4f4f4 !important;
}

.instructionActionLink {
	display: flex;
	justify-content: center;
}

.instructionActionLink a {
	min-width: 300px;
}

.instructionText {
	margin: 10px 0 ;
}

.instructionVideo {
	height: 200px;
	width: 100%;
	margin: 10px 0;
}

.listTest {
	list-style-position: outside;
	padding: 0;
}

.listTest li {
	margin-left: 0;
}

.manageHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/*border: 1px solid blue;*/
}

.marginBottomFifteen {
	margin-bottom: 15px !important;
}

.marginBottomFive {
	margin-bottom: 5px !important;
}

.marginBottomTen {
	margin-bottom: 10px;
}

.marginTopFifteen {
	margin-top: 15px;
}

.marginTopFive {
	margin-top: 5px;
}

.marginTopThirty {
	margin-top: 30px;
}

.marginTopThirtyFive {
	margin-top: 35px;
}

.marginTopTen {
	margin-top: 10px;
}

.marginTopTwenty {
	margin-top: 20px;
}

.modalContent {
	position: absolute;
	top: 20px;
	right: 15%;
	bottom: 20px;
	left: 15%;
	padding: 20px;
	margin: 20px auto;
	background: #ffffff;
}

.modalContentBox {
	height: 100%;
	border: 1px solid #cccccc;
	overflow-y: auto; 
	overflow-x: hidden;
	padding: 10px 20px;
}

.modalContentBox::-webkit-scrollbar {
    width: 0px;
}

.modalContentBox2 {
	height: calc(100% - 40px);
	width: calc(100% - 58px);
	position: absolute;
}

.modalRow {
	width: 100%;
}

.modalRowHolder {
	display: flex;
	padding: 10px 5px;
}

.modalRowHolder:hover {
	background: #fbfbfb;
	box-shadow: 2px 2px 1px #eee;
}

.modalSpinner {
	width: 20px;
	height: 20px;
}

.modalSpinnerCenter {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalTest {
	/*height: calc(100vh - 200px);*/
}

.modalTest2 {
	height: calc(100vh - 150px);
	position: relative;
	overflow: hidden;
}

.outlinedLine {
	height: 2px;
	color: #fff;
	border: 1px solid #f8f8f8;
}

.outlineText {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}

.paddingBottomTen {
	padding-bottom: 10px;
}

.paddingTen {
	padding: 10px;
}

.paddingTopBottomTwenty {
	padding: 20px 0;
}

.paddingTopFive {
	padding-top: 5px;
}

.paddingTopNine {
	padding-top: 9px;
}

.paddingTopOverride {
	padding-top: 0 !important;
}

.paddingAllOverride {
	padding: 0 !important;
}

.page {
	width: 100%;
	height: 100%;
	padding: 20px 100px;
}

.smallText {
	font-size: .7em;
}

.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right !important;
}

textarea {
	resize: none;
}

.underline {
	border-width: 1.5px;
	border-color: #bbb;
}

.underlineText {
	text-decoration: underline;
}

.whiteBackground {
	background: #fff !important;
}

.whiteText {
	color: #fff !important;
}

.widthFiftyOne {
	width: 51% !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 350px;
  margin-bottom: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wizardModelLeftTabs {
	transform: rotate(270deg);
}