
.eventAdminBtn {
	float: right;
}

.eventAdminDescription {
	font-size: .8em;
}

.eventAdminImg {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.eventAdminImg img {
	height: 110%;
	margin: 0 auto;
}

.eventAdminName {
	font-size: 1.6em;
}

.eventAdminRoles {
	font-size: 1em;
}

.eventAdmins {
	width: 100%;
}

.eventAdminSearchBar {
	padding-bottom: 14px;
	margin-bottom: 14px;
	border-bottom: 1px solid #ccc;
}

.eventAdminSearchRow {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.eventAdminSearchRowAdmin {
	flex: 2;
	margin-right: 20px;
}

.eventAdminSearchRowAdmin {
	padding: 1px 0 0 3px;
	cursor: pointer;
}

.eventAdminSearchRowRoles {
	flex: 3;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.eventAdminSearchRowRolesRole {
	flex: 1;
}

.eventAdminSearchBar input, .eventAdminSearchBar select {
	margin-bottom: 20px;
}

.inputError {
  border: 1px solid red;
  box-shadow: 0 0 2px #62cb31 !important;
}

.modalCheckboxPositionOverride {
	margin: 0 !important;
}

