.postProductContainer {
	display: flex;
	align-items: stretch;
}

.postProductImage {
	flex: 1;
	margin-right: 15px;
}

.postProductDescription {
	flex: 3;
	background: #fff;
	padding: 30px;
	margin-left: 15px;
}

.postProductHeader {
	font-weight: 600;
}

.postProductInfo {
	
}

.templateName {
	font-weight: 600;
	font-size: 1.2em;
}

@media only screen and (max-width : 480px) {
	.postProductContainer {
		flex-direction: column;
	}

	.postProductImage {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.postProductDescription {
		flex: 1;
		margin-left: 0;
	}
}

@media only screen and (max-width : 768px) {
	.postProductContainer {
		flex-direction: column;
	}

	.postProductImage {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.postProductDescription {
		flex: 1;
		margin-left: 0;
	}
}

@media only screen and (max-width : 992px) {
	.postProductDescription {
		flex: 2;
	}
}