
.blankHostImage {
	width: 50%;
	min-width: 40px;
	max-width: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 10px;
}

.blankHostImage img {
	width: 100%;
	height: 100%;
}

.buttonHalfWidth {
	width: 51%;
}

.event {
	/*min-width: 250px;*/
}

.eventDateTopic {
	margin-bottom: 40px;
}

.eventHost {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 20px 10px 0;
}

.eventHostsHolder {
	width: 100%;
}

.eventName {
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 10px;
}

.eventSelectButtonHolder {

}

.eventSelectSmallHeader {
	font-weight: 500;
}

.eventSelectSmallText {
	font-size: .8em;
}

.hostCarousel {
	display: flex;
}

.hostImage {
	width: 50%;
	min-width: 40px;
	max-width: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

.hostName {
	width: 100%;
	font-weight: 600;
}

@media only screen and (min-width : 480px) {
	
}

@media only screen and (min-width : 768px) {
	
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1200px) {
	
}