#canvas{
	height: 2000px;
}

.addCategoryMenu {
  position: relative;
  cursor: pointer;
  width: 180px;
}

.addCategoryMenuContent {
  display: none;
  width: 180px;
  position: relative;
  white-space: nowrap;
  background-color: rgba(127, 122, 119, 0.6);
  font-size: .6em;
}

.addCategoryMenuItem {
  padding: 6px 8px;
}

.addCategoryMenuItem:hover {
  background-color: rgba(127, 122, 119, 1);
}

.addProductMenu {
  position: relative;
  cursor: pointer;
}

.addProductMenuContent {
  color: #000;
  display: none;
  position: relative;
  white-space: nowrap;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  min-width: 100px;
}

.addProductMenuItem {
  padding: 6px 8px;
}

.addProductMenuItem:hover {
  background-color: #ddd;
}

.adminAddButton {
  margin: 0 4px 0 7px;
}

.adminMenu {
  position: relative;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 3px;
}

.adminMenuContent {
  display: none;
  position: absolute;
  white-space: nowrap;
  right: 100%;
  top: -20px;  
  background-color: #000;
  z-index: 99999;
  font-size: 1em;
}

.adminMenuItem {
  padding: 6px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.adminSessionCtrls {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin: 4px 0;
  padding: 15px;
  background: white;
}

.arrowContainer {
  width: 30px;
  height: 100%;
}

.bagModalBody {
  width: 80%;
  padding: 20px 15px;
  margin: 0 auto;
  background: #fff;
}

.bagModalFooter {
  width: 80%;
  padding: 20px 15px;
  margin: 0 auto;
  color: #c2c4c5;
  background: #1d2129;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.bagModalFooterButtons {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}

.bagModalFooterButtons div {
  margin-left: 5px;
}

.bagModalHeading {
  font-size: 1.3em;
  font-weight: 700;
}

.bagModalProduct {
  height: 75px;
  display: flex;
  margin: 15px 0;
}

.bagModalProductDel {
  cursor: pointer;
  font-size: .9em;
}

.bagModalProductDelInside {
  margin-right: 3px;
}

.bagModalProductDesc {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.bagModalProductDescription {
  font-size: .8em;
}

.bagModalProductImg {
  flex: 2;
  background-size: cover;
  background-position: center bottom;
}

/*.bagModalProductImg img {
  width: 100%;
}*/

.bagModalProductImgDesc {
  flex: 6;
  display: flex;
  align-items: stretch;
}

.bagModalProductName {
  font-weight: 700;
}

.bagModalProductPrice {
  font-size: 1.3em;
  font-weight: 600;
}

.bagModalProductQtyDelPrice {
  flex: 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bagModalProductQty {
  display: flex;
  align-items: center;
}

.bagModalProductQtyInside {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #e4e6e8;
  background: #f8f8f8;
  margin-left: 5px;
}

.bagModalProductQtyInsideInput {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #e4e6e8;
  background: #f8f8f8;
  margin-left: 5px;
}

.bagTotals {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 20px;
}

.blackDiamond {
  fill: #000;
  stroke: #000;
  stroke-width: 1;
}

.blackDiamondFooter {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  left: 25px;
}

.blackDiamondHeader {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -7px;
  left: 25px;
}

.blackDiamondMessageTime {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  left: 17px;
}

.cart {
  position: absolute;
}

.cartBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
}

.categories {
  min-height: 200px;
  margin: 4px 0;
  padding: 15px;
  background: white;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 13px;
  width: 110px;
  height: 110px;
  margin: 8px;
}

.categoryContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.categoryHeading {
  position: relative;
  text-align: center; 
  padding: 2px; 
  font-family:'Pluto Sans W01 Bold';
  font-size: 1.4em;
  color: rgb(127, 122, 119);
}

.categoryHeadingUnderline {
  margin: 20px auto;
  height: 4px;
  width: 40px;
}

.categoryImg {
  height: 80%;
  width: 80%;
}

.categoryLine {
  position: absolute;
  width: 6px;
  height: 100%;
  bottom: 0;
  right: -12px;
}

.categoryName {
  text-align: center;
  padding-top: 8px;
  font-family:'Pluto Sans W01 Thin';
  font-size: .8em;
  color: rgb(127, 122, 119);
}

.currentCategory {
  font-style: italic; 
  font-size: 17px;
}

.currentProductDescription {
  height: 160px;
  overflow-y: auto;
}


.currentProductImage {
  height: 160px;
  background-size: cover;
  background-position: center bottom;
}

.dropZoneFeaturedProduct {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: #fff;
}

.dropZoneFeaturedProdPrice {
  font-size: 1.4em;
  font-weight: 200;
}

.dropZoneProdCurrentPrice {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropZoneProductHider {
  display: none;
}

.dropZoneProdStartingPrice {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropZoneProdBagLabel {
  font-size: .8em;
  font-weight: 400;
  margin-left: 8px;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.leftArrow {
  width: 30px;
  display: none;
  z-index: 99999;
}

.leftHeader {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.loading {
  font-size: 18px;
  font-style: italic;
  color: rgb(127, 122, 119);
  font-family:'Pluto Sans W01 Thin';
  margin: 4px 0;
  padding: 2px;
}

.message {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 4px 20px;
  padding: 25px 0;
  border-bottom: 1px solid rgb(196, 214, 0);
  box-sizing: border-box;
}

.messageBtn {
  width: 100px; 
  height: 30px; 
  font-size: 13px;
}

.messageCategory {
  margin-bottom: 5px;
  color: rgba(196, 214, 0, 1);
  font-family:'Pluto Sans W01 Thin';
}

.messageContainer {
  height: 560px;
  margin: 4px 0;
  padding: 20px 20px 10px 20px;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
}

.messageInfo {
  flex: 1;
  margin: 4px 0 0 10px;
}

.messageInput {
  width: 100%;
  height: 32px; 
  border: transparent; 
  padding-left: 4px; 
  color: rgb(127, 122, 119);
  background-color : rgb(235, 235, 235);
  font-family:'Pluto Sans W01 Thin';
}

.messageInput:focus {
  background-color: white;
  border: initial; 
}

.messageMessage {
  color: #000;
}

.messages {
  width: 100%;
  height: calc(100% - 26px - 50px);
  overflow-y: auto;
}

.messageTime {
  width: 100px;
  padding:  0 3px 0 0;
}

.messageUser {
  color: #3c5a96;
  font-size: 1em;
}

.page2 {
  display: flex;
  flex-direction: column;
  color: #000;
  background: #e9ebee;
  /*padding: 20px;*/
}

.postBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100%;
  color: #fff;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 70px;
  border: 1px solid #fff;
  transition: background-color 500ms, color 500ms;
}

.postBtn:hover {
  background-color: #fff;
  color: #000;
}

.postBtn:active {
  border: 1px solid #000;
}

.primaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 32px;
  color: #fff;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #fff;
  transition: background-color 500ms, color 500ms;
  white-space: nowrap;
}

.primaryBtn:hover {
  background-color: #fff;
  color: #000;
}

.primaryBtn:active {
  border: 1px solid #000;
}

.prodBag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 5px;
  color: #fff;
}

.prodBagImg {
  position: relative;
  top: -2px;
  width: 24px;
}

.prodBagLabel {
  font-size: .8em;
  font-weight: 400;
}

.prodCartCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  opacity: 1;
  color: #45abf2;
  font-size: .8em;
  position: relative;
  left: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
}

.prodCircleContainer {
  position: relative;
}

.prodCircle {
  position: relative;
  right: -4px;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  z-index: 3;
}

.prodDesc {
  font-size: .9em;
  font-weight: 200;
  margin-bottom: 3px;
}

.prodDescHolder {
  flex: 1;
  padding: 2px;
}

.prodFeatured {
  font-size: .8em;
  font-weight: 400;
}

.prodImg {
  float: left;
  min-width: 100px;
}

.prodInfo {
  display: inline-block;
  flex: 7;
  margin-left: 14px;
  margin-right: 14px
}

.prodMore {
  font-size: .9em;
  font-weight: 200;
  color: #45abf2;
  margin-bottom: 15px;
  cursor: pointer;
}

.prodName {
  font-size: 1.2em;
  font-weight: 400;
  padding-right: 4px;
}

.prodName1 {
  font-size: 1.8em;
  font-weight: 700;
}

.prodName2 {
  word-break: break-word;
  font-size: 1.2em;
  font-weight: 300;
}

.prodNameUnderline {
  height: 4px;
  width: 40px;
}

.prodPanelBody {
  background: #fff;
  padding: 50px 30px;
  height: 260px;
}

.prodPanelBody2 {
  background: #fff;
  padding: 0 15px;
  height: 250px;
  overflow-y: auto;
}

.prodPanelBody2::-webkit-scrollbar {
    width: 0px;
}

.prodPanelFooter {
  position: relative;
  background: #000;
  height: 10px;
  padding: 4px 4px 4px 12px;
}

.prodPanelHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  background: #000;
  min-height: 40px;
  padding: 4px 4px 4px 12px;
}

.prodPrice {
  font-size: .6em;
  font-weight: 200;
}

.prodPrice1 {
  position: relative;
  top: -4px;
  font-size: .8em;
  font-weight: 200;
  margin-bottom: 10px;
}

.prodPrice2 {
  font-size: .7em;
  font-weight: 600;
}

.prodQty {
  width: 40px;
  height: 32px;
  border: none;
  background: #fff;
}

.prodQtyHolder {
  background: #fff;
  height: 32px;
  margin: 0 8px;
}

.prodVerticalLine {
  stroke: #d3d3d3;
  stroke-width: 1;
}

.prodVerticalLineContainer {
  height: 100%; 
  width: 20px;
  position: absolute;
  left: 39px;
}

.prodViewOptions {
  font-size: .9em;
  font-weight: 200;
  color: #45abf2;
  cursor: pointer;
}

.product {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.productContainer {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.productContainer1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  margin-right: 35px;
  /*border-right: 1px solid #d3d3d3;*/
  box-sizing: border-box;
}

.productContainer2 {
  width: 100px;
  padding: 10px 0;
  margin-right: 20px;
}

.productContainer2 img {
  width: 100%;
}

.productContainer3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.products {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.productSection {
  height: 300px;
}

.questionPanel1 {
  background: #fff;
  padding: 8px 5px 10px;
  margin-bottom: 2px;
}

.quaternaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #1d2129;
  background-color: #fff;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #fff;
  transition: background-color 500ms, color 500ms;
}

.quaternaryBtn:hover {
  background-color: #1d2129;
  color: #fff;
}

.quinaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  background-color: #1d2129;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #fff;
  transition: background-color 500ms, color 500ms;
}

.quinaryBtn:hover {
  background-color: #fff;
  color: #1d2129;
}

.questionPanel2 {
  background: #fff;
  padding: 8px 5px 10px;
}

.questionPanelCategoryBtnHolder {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-right: 8px;
}

.questionPanelCategoryCommentCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  opacity: 1;
  color: #45abf2;
  font-size: .8em;
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
}

.questionPanelCategoryInstructions {
  font-size: .8em;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 8px;
}

.questionPanelFooter {
  background: #000;
  padding: 5px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.questionPanelHeader {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.questionPanelInput {
  width: 100%;
  height: 40px;
  border: none;
}

.questionPanelInput:focus {
  padding-left: 5px;
}

.rightArrow {
  display: none;
  width: 30px;
  z-index: 99999;
}

.rightHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.secondaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 32px;
  color: #fff;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #000;
  transition: background-color 500ms, color 500ms;
}

.secondaryBtn:hover {
  background-color: #fff;
  color: #000;
}

.sweet-alert {
  top: 300px !important;
  left: 52% !important;
}

@media all and (max-width: 540px) {
  .sweet-alert {
    left: 15px !important;
  }
}

.tertiaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: #000;
  font-size: .9em;
  font-weight: 200;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #000;
  transition: background-color 500ms, color 500ms;
}

.tertiaryBtn:hover {
  background-color: #000;
  color: #fff;
}

.userCtrls {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.userImg {
  height: 100%;
}

.v-timeline-width-override:before {
  width: 1px !important;
}

.v-timeline-width-single-override:before {
  width: 0px !important;
}

.vertical-timeline-icon-override-message {
  padding: 3px 0;
  top: 10px !important;
  left: -8px !important;
  width: 50px !important;
  height: auto !important;
  border-radius: 0 !important;
  font-size: .8em !important;
  border: none !important;
  background: #000 !important;
  color: #fff;
}

.videoStuff {
  min-height: 0;
  overflow: hidden;
  margin: 10px 0;
  background: white;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 350px;
  margin-bottom: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 2px;
  opacity: 1;
  color: rgba(127, 122, 119, 1);
  position: absolute;
  top: -4px;
  right: -4px;
  border: 2px solid rgba(150, 150, 150, 1);
  border-radius: 50%;
  background: white;
  z-index: 99999;
}

.viewCounterOver {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  width: 22px;
  height: 22px;
  padding: 2px 3px 2px 2px;
  opacity: 1;
  color: rgba(127, 122, 119, 1);
  position: absolute;
  top: -4px;
  right: -4px;
  border: 2px solid rgba(80, 80, 80, 1);
  border-radius: 50%;
  background: rgb(255, 50, 50);
  z-index: 99999;
}

ul[rn-carousel] > li:first-child {
position: relative;
}

@media only screen and (max-width : 480px) {
  .bagModalProduct {
    height: 100px;
    flex-direction: column;
  }  
  .bagModalProductImgDesc {
    margin-bottom: 5px;
  }

  .bagModalProductQtyDelPrice {
    flex: 3;
  }

  .bagModalProductImg {
    flex: 3;
  }  
}

@media only screen and (max-width : 564px) {
  .rightHeader {
    justify-content: center;
    margin: 0;
  }
}
