<div class="modal fade hmodal-success" id="postManagementMediaPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div ng-show="previewMedia.currentMimeType === 'video/youtube'" class="videoWrapper">
					<youtube-post-management video-id="previewMedia.currentMedia" youtube-player="youtubePlayer"></youtube-post-management>
				</div>
				<img ng-if="previewMedia.currentMimeType === 'image/jpeg' || previewMedia.currentMimeType === 'image/bmp' || previewMedia.currentMimeType === 'image/gif' || previewMedia.currentMimeType === 'image/png'" class="postsImg" src="{{previewMedia.currentMedia}}" alt="alt-text"/>
				<div ng-show="previewMedia.currentMimeType === 'video/vimeo'" class="videoWrapper">
					<vimeo-post-management video-id="previewMedia.currentMedia" vimeo-player="vimeoPlayer"></vimeo-post-management>
				</div>
				<div ng-if="previewMedia.currentMimeType === 'application/pdf'" class="videoWrapper">
					<iframe src="{{previewMedia.currentMedia}}"></iframe>
				</div>
				<div ng-show="previewMedia.currentMimeType === 'video/mp4' || previewMedia.currentMimeType === 'video/quicktime' || previewMedia.currentMimeType === 'video/mpeg-4' || previewMedia.currentMimeType === 'video/mpeg'" class="videoWrapper">
					<video id="postManagementVideoPlayer" class="video-js vjs-default-skin"
						   controls preload="auto">
					</video>
				</div>
				<div ng-if="previewMedia.currentMimeType === 'text/plain'" class="textWrapper">
					<div>{{previewMedia.currentMedia}}</div>
				</div>
				<div class="textAlignRight">
				   	<span class="addRegionLanguageTooltip cursorPointer">
					 	<i class="fa fa-plus-square" aria-hidden="true" data-toggle="tooltip" ng-click="showVariantEditOptions()"></i>
				   	</span>
				</div>

				<div class="row">
					<div class="col-xs-6 underlineText">
						Name:
					</div>
					<div class="col-xs-2 underlineText">
						Extension:
					</div>
					<div class="col-xs-2 underlineText">
						Regions:
					</div>
					<div class="col-xs-2 underlineText">
						Languages:
					</div>
				</div>
				<div class="row cursorPointer translation" ng-repeat="translation in previewMedia.translations" ng-click="setNewMedia(translation)">
					<div class="col-xs-6">
						{{translation.managementName}}
					</div>
					<div class="col-xs-2">
						{{translation.fileExtension}}
					</div>
					<div class="col-xs-2">
						{{translation.readableRegion.title}}
					</div>
					<div class="col-xs-2">
						{{translation.readableLanguage[previewMedia.postLanguageDisplay]}}
					</div>
				</div>
				<br/>
				<hr id="postManagementMediaPreviewModalLine"/>

				<div ng-show="previewMedia.showVariant">
					<div class="row" ng-click="confirmOverride()">
						<div class="col-sm-12">
							<input class="cursorPointer" type="checkbox" ng-model="previewMedia.overwriteTranslations"/>
							<label class="cursorPointer textboxLabel" ng-click="previewMedia.overwriteTranslations = !previewMedia.overwriteTranslations">Overwrite existing matching translations</label>
						</div>
					</div>
					<br/>

					<div class="mediaSettingsHeader">
						<div>Region<span ng-show="previewMedia.regions.length > 1">s</span></div>
					</div>
					<div class="row">
						<div id="{{'postManagementRegionMedia' + $index}}" class="col-md-6 marginBottomFive" ng-repeat="region in previewMedia.regions" ng-click="checkForRegions(previewMedia.regions)">
							<input class="cursorPointer" type="checkbox" ng-model="region.selected"/>
							<label class="cursorPointer textboxLabel" ng-click="region.selected = !region.selected">{{region.title}}</label>
						</div>
					</div>
					<br/>

					<div class="mediaSettingsHeader">
						<div>Language<span ng-show="previewMedia.languages.length > 1">s</span></div>
					</div>
					<div class="row">
						<div id="{{'postManagementLanguageMedia' + $index}}" class="col-md-6 marginBottomFive" ng-repeat="language in previewMedia.languages" ng-click="checkForLanguages(previewMedia.languages)">
							<input class="cursorPointer" type="checkbox" ng-model="language.selected"/>
							<label class="cursorPointer textboxLabel" ng-click="language.selected = !language.selected">{{language[previewMedia.postLanguageDisplay]}}</label>
						</div>
					</div>
					<br/>

					<div class="hpanel">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#postManagementUploadVariantDrop">Drag/Drop Media</a></li>
							<li class=""><a data-toggle="tab" href="#postManagementUploadVariantExternal">Add External Media</a></li>
						</ul>
						<div class="tab-content">
							<div id="postManagementUploadVariantDrop" class="tab-pane active paddingTen">
								<div class="addVariantImageTooltip">
									<div id="post-management-variant-file-dropbox" data-toggle="tootlip">
										<div ng-repeat="image in variantUploadedImages">
											<img class="postsImg marginBottomTen" src="{{image.src}}" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div id="postManagementUploadVariantExternal" class="tab-pane paddingTen">
								<div class="mediaSettingsHeader">
									Media Type
								</div>
								<select class="form-control" ng-options="type as type.title for type in previewMedia.postMediaTypes" ng-model="previewMedia.mediaType">
								</select>
								<br/>

								<div class="mediaSettingsHeader">
									Code or Url
								</div>
								<div class="input-group m-b">
									<input class="form-control" type="" name="" ng-model="previewMedia.mediaCodeOrUrl" placeholder="{{previewMedia.mediaType.title}} code or url" />
									<span class="input-group-btn">
      	            					<button class="btn btn-info" ng-click="uploadExternalTranslation()">Upload<!-- {{previewMedia.mediaType.title}} --></button>
      	          					</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="buttonHolder2">
					<button class="btn brand-button-success" data-dismiss="modal" ng-click="setCurrentMediaFromPreview()">Use This Media</button>
					<button class="btn brand-button-warn btn-outline" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade hmodal-success" id="postManagementCopyTranslationModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="breadCrumbHeader">Selection:</div>
				<div class="breadCrumbs">
					<div ng-show="!selectedPlatform.hasOwnProperty('title')">Nothing Selected. Select a platform below to proceed.</div>
					<button ng-show="selectedPlatform.hasOwnProperty('title')" class="breadCrumb btn btn-xs brand-button-success">
						{{selectedPlatform.title}} <i class="fa fa-times" aria-hidden="true" ng-click="selectBreadCrumb('Platform')"></i>
					</button>
					<button ng-show="selectedRegion.hasOwnProperty('title')" class="breadCrumb btn btn-xs brand-button-success">
						{{selectedRegion.title}} <i class="fa fa-times" aria-hidden="true" ng-click="selectBreadCrumb('Region')"></i>
					</button>
					<button ng-show="selectedLanguage.hasOwnProperty(postLanguageDisplay)" class="breadCrumb btn btn-xs brand-button-success">
						{{selectedLanguage[postLanguageDisplay]}} <i class="fa fa-times" aria-hidden="true" ng-click="selectBreadCrumb('Language')"></i>
					</button>
				</div>
				<hr/>
				<div ng-show="!selectedPlatform.hasOwnProperty('title')">
					<div class="breadCrumbHeader">Select a platform:</div>
					<form action="">
						<div ng-repeat="platform in translationPlatformSelect">
							<label class="cursorPointer">
								<input class="cursorPointer" type="radio" name="platformSelect" ng-model="$parent.selectedPlatform" ng-value="platform" >
								{{platform.title}}
							</label>
						</div>
					</form>
				</div>
				<div ng-show="selectedPlatform.hasOwnProperty('title') && !selectedRegion.hasOwnProperty('title')">
					<div class="breadCrumbHeader">Select a region:</div>
					<form action="">
						<div ng-repeat="region in translationRegionSelect">
							<label class="cursorPointer">
								<input class="cursorPointer" type="radio" name="regionSelect" ng-model="$parent.selectedRegion" ng-value="region" >
								{{region.title}}
							</label>
						</div>
					</form>
				</div>
				<div ng-show="selectedPlatform.hasOwnProperty('title') && selectedRegion.hasOwnProperty('title') && !selectedLanguage.hasOwnProperty(postLanguageDisplay)">
					<div class="breadCrumbHeader">Select a language:</div>
					<form action="">
						<div ng-repeat="language in translationLanguageSelect">
							<label class="cursorPointer">
								<input class="cursorPointer" type="radio" name="languageSelect" ng-model="$parent.selectedLanguage" ng-value="language" >
								{{language[postLanguageDisplay]}}
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="buttonHolder">
					<button class="btn brand-button-success" ng-disabled="!selectedPlatform.hasOwnProperty('title') || !selectedRegion.hasOwnProperty('title') || !selectedLanguage.hasOwnProperty(postLanguageDisplay)" ng-click="copyTranslation()">Copy Information</button>
					<button class="btn brand-button-warn btn-outline" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="postDefaults">
	<div class="hpanel">
		<div class="panel-body">
			<div class="panel-group" id="postManagementAccordian" role="tablist" aria-multiselectable="true">
				<div id="platform-1" class="panel panel-default">
					<div class="panel-heading" role="tab" id="postDefaultsHeading-1">
						<h4 class="panel-title">
							<a class="panelHeader" data-parent="#postManagementAccordian" ng-click="setPostDefaultsScrolltop(-1, $event)">
								Post Defaults
							</a>
						</h4>
					</div>
					<div id="postDefaultsCollapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="postDefaultsHeading-1">
						<div class="panel-body">
							<div class="marginBottomFive"><span class="requiredAsterisk">*</span> = required fields</div>
							<span class="requiredAsterisk">*</span>Start:
							<div class="dateHolder">
								<div class="dateHolderDate">
									<div class="input-group" id="postManagementDatepickerHolder1">
										<input id="postManagementDatepicker1" type="text" class="form-control input-small" ng-model="post.start.date"/>
										<div class="input-group-addon btn greyBackground" ng-click="showDatepicker1()">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								<div class="dateHolderTime">
									<div class="input-group">
										<input id="postManagementTimepicker1" type="text" class="form-control input-small" ng-model="post.start.time"/>
										<div class="input-group-addon btn greyBackground" ng-click="showTimepicker1()" >
											<i class="glyphicon glyphicon-time"></i>
										</div>
									</div>
								</div>
							</div>

							<span class="requiredAsterisk">*</span>End:
							<div class="dateHolder">
								<div class="dateHolderDate">
									<div class="input-group" id="postManagementDatepickerHolder2">
										<input id="postManagementDatepicker2" type="text" class="form-control"  ng-model="post.end.date">
										<div class="input-group-addon btn greyBackground" ng-click="showDatepicker2()">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								<div class="dateHolderTime">
									<div class="input-group">
										<input id="postManagementTimepicker2" type="text" class="form-control input-small" ng-model="post.end.time"/>
										<div class="input-group-addon btn greyBackground" ng-click="showTimepicker2()" >
											<i class="glyphicon glyphicon-time"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="row marginBottomTen">
								<div class="col-sm-4">
									<span class="requiredAsterisk">*</span>Category
								</div>
								<div class="col-sm-8">
									<select class="form-control" ng-options="category as category.categoryName for category in postCategories" ng-model="post.category">
									</select>
								</div>
							</div>
							<div class="row marginBottomTen">
								<div class="col-sm-4">
									<span class="requiredAsterisk">*</span>Post Type
								</div>
								<div class="col-sm-8">
									<select class="form-control" ng-options="type as type.displayName for type in postTypes" ng-model="post.type">
									</select>
								</div>
							</div>
							<div class="row marginBottomTen">
								<div class="col-sm-4">
									Priority
								</div>
								<div class="col-sm-8">
									<input class="form-control" type="number" ng-model="post.priority" min="0" placeholder="Priority"/>
								</div>
							</div>
							<div>Connect post to a product:</div>
							<div class="dd marginBottomTen" id="postManagementNestable">
								<ol class="dd-list">
									<li class="dd-item connectProductTooltip">
										<div class="dd-handle dd-nodrag cursorCell" ng-click="expandProductList($event)">Products</div>
										<ol class="dd-list" ng-repeat="product in postProducts" ng-include="'/zf2/assets/posts/html/nestableListTmpl.html'" loop-watcher>
										</ol>
									</li>
								</ol>
							</div>

							<div class="imgHeader marginBottomTen"><span class="requiredAsterisk">*</span>Default Image</div>
							<div class="postImageTooltip postImageHolder" ui-on-Drop="onDefaultPostImageDrop($event, $data)">
								<div class="defaultPostImage" data-toggle="tooltip" ng-click="setCurrentMediaAsPostDefaultImage()">
									<i class="{{post.defaultPostImage.iconClass}} fa-3x" ng-mouseover="previewPostImage('postDefaultImage', post.defaultPostImage, 0)" ng-mouseleave="previewPostImageEndHover(post.defaultPostImage)"></i>
								</div>
								<div>{{post.defaultPostImage.managementName}}</div>
								<div ng-show="post.defaultPostImage.active" class="mediaImageProgressBarHolder" id="postDefaultImage0">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="{{'platform' + $index}}" class="panel panel-default {{'platformClass' + $index}}" ng-repeat="platform in postPlatforms">
					<div class="panel-heading" role="tab" id="{{'postDefaultsHeading' + $index}}">
						<h4 class="panel-title">
							<a class="panelHeader" data-parent="#postManagementAccordian" ng-click="setPostDefaultsScrolltop($index, $event, platform)">
								{{platform.title}}
							</a>
						</h4>
					</div>

					<div id="{{'postDefaultsCollapse' + $index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'postDefaultsHeading' + $index}}">
						<div class="panel-body">
							<div class="text-center marginBottomTen">
								<h5><span class="requiredAsterisk">*</span>Please select a region and language to continue.</h5>
							</div>
							<div id="{{'regLang' + $index}}" class="marginBottomTen regLangTooltip">
								<div class="mediaSettingsHeader">
									<div>Region<span ng-show="platform.regions.length > 1">s</span></div>
								</div>
								<div class="row">
									<div id="{{'regionInfo' + platform.title + $index}}" class="col-md-6 marginBottomFive" ng-repeat="region in platform.regions" ng-click="selectRegionsLanguages(platform, $parent.$index)">
										<input class="cursorPointer" type="checkbox" ng-model="region.selected"/>
										<label class="cursorPointer textboxLabel" ng-click="region.selected = !region.selected">{{region.title}}</label>
									</div>
								</div>
								<br/>
								<div class="mediaSettingsHeader">
									<div>Language<span ng-show="platform.languages.length > 1">s</span></div>
								</div>
								<div class="row">
									<div id="{{'languageInfo' + platform.title + $index}}" class="col-md-6 marginBottomFive" ng-repeat="language in platform.languages" ng-click="selectRegionsLanguages(platform, $parent.$index)">
										<input class="cursorPointer" type="checkbox" ng-model="language.selected"/>
										<label class="cursorPointer textboxLabel" ng-click="language.selected = !language.selected">{{language[postLanguageDisplay]}}</label>
									</div>
								</div>
								<br/>
							</div>
							<hr/>
							<div class="collapse" id="{{'collapsePlatformPanel' + $index}}">
								<!--Display this after a post has been created and they are editing the post and adding translations.-->
								<div class="marginBottomTen">
									<button class="btn brand-button-success" ng-click="showCopyTranslationModal()">Copy translation from...</button>
								</div>

								<div class="imgHeader marginBottomTen"><span class="requiredAsterisk">*</span>{{platform.title}} Image</div>
								<div class="postImageTooltip marginBottomTen postImageHolder" ui-on-Drop="onPostImageDrop($event, $data, $index)">
									<div class="defaultPostImage" data-toggle="tooltip" ng-click="setCurrentMediaAsPostImage()">
										<i class="{{post.platforms[currentPostInfo.title].image.iconClass}} fa-3x" ng-mouseover="previewPostImage('platformImage', post.platforms[currentPostInfo.title].image, $index)" ng-mouseleave="previewPostImageEndHover(post.platforms[currentPostInfo.title].image)"></i>
									</div>
									<div>{{post.platforms[currentPostInfo.title].image.managementName}}</div>
									<div ng-show="post.platforms[currentPostInfo.title].image.active" class="mediaImageProgressBarHolder" id="{{'platformImage' + $index}}">
									</div>
								</div>
								<hr/>

								<div class="row marginBottomTen frequencyTooltip">
									<div class="col-sm-5">
										Frequency
									</div>
									<div class="col-sm-7">
										<form class="marginBottomTen" action="">
											<input type="radio" name="frequency" ng-model="post.platforms[currentPostInfo.title].frequency" ng-value="false" ng-click="autoPopulatePlatforms(platform)"/> No Limit&nbsp;
											<input type="radio" name="frequency" ng-model="post.platforms[currentPostInfo.title].frequency" ng-value="true" ng-click="autoPopulatePlatforms(platform)"/> Days
										</form>
										<input ng-if="post.platforms[currentPostInfo.title].frequency" class="form-control" type="number" placeholder="# of Days" min="1" ng-model="post.platforms[currentPostInfo.title].frequencyDays" ng-blur="autoPopulatePlatforms(platform)"/>
									</div>
								</div>
								<hr/>

								<div class="hpanel">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="{{'#tab-' + $index + 1}}">Title/Description</a></li>
										<li class=""><a data-toggle="tab" href="{{'#tab-' + $index + 2}}"><span class="requiredAsterisk">*</span>Endpoint</a></li>
										<li class=""><a data-toggle="tab" href="{{'#tab-' + $index + 3}}">Lightbox</a></li>
									</ul>
									<div class="tab-content ">
										<div id="{{'tab-' + $index + 1}}" class="tab-pane active">
											<div class="panel-body">
												<input class="form-control marginBottomTen" type="text" placeholder="Title" ng-model="post.platforms[currentPostInfo.title].postTitle" ng-blur="autoPopulatePlatforms(platform)"/>
												<input class="form-control marginBottomTen" type="text" placeholder="Description" ng-model="post.platforms[currentPostInfo.title].postDescription" ng-blur="autoPopulatePlatforms(platform)"/>
												<textarea class="form-control marginBottomTen" name="" id="" cols="30" rows="5" placeholder="Enter suggested text here." ng-model="post.platforms[currentPostInfo.title].postSuggestedText" ng-blur="autoPopulatePlatforms(platform)"></textarea>
											</div>
										</div>
										<div id="{{'tab-' + $index + 2}}" class="tab-pane">
											<div class="panel-body">
												<div class="row marginBottomTen">
													<div class="col-sm-4">
														<span class="requiredAsterisk">*</span>Endpoint
													</div>
													<div class="col-sm-8">
														<select class="form-control" ng-options="endpoint.title for endpoint in platform.endpoints track by endpoint.title" ng-model="post.platforms[currentPostInfo.title].endpoint" ng-change="autoPopulatePlatforms(platform)">
														</select>
													</div>
												</div>
												<div class="row marginBottomTen">
													<div class="col-sm-4">
														<span class="requiredAsterisk">*</span>Landing Page
													</div>
													<div class="col-sm-8">
														<select class="form-control" ng-options="landingPage.title for landingPage in post.platforms[currentPostInfo.title].endpoint.mics track by landingPage.title" ng-model="post.platforms[currentPostInfo.title].landingPage" ng-change="autoPopulatePlatforms(platform)">
														</select>
													</div>
												</div>
												<div class="row marginBottomTen">
													<div class="col-sm-4">
														External
													</div>
													<div class="col-sm-8">
														<input class="form-control" type="text" placeholder="Url here with optional {dist_id}" ng-model="post.platforms[currentPostInfo.title].externalUrl" ng-blur="autoPopulatePlatforms(platform)"/>
													</div>
												</div>
											</div>
										</div>
										<div id="{{'tab-' + $index + 3}}" class="tab-pane">
											<div class="panel-body">
												Lightbox Library Here
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn brand-button-success" ng-click="savePost()">Save Post</button>
		</div>
	</div>
</div>